{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <h2>Create New Page</h2>
    <form method="post">
        {% csrf_token %}
        <label for="title">Title:</label><br>
        <input type="text" name="title" id="title" value="{{ title }}"><br>
        <label for="content">Content:</label><br>
        <textarea name="content" id="content" rows="10" cols="50">{{ content }}</textarea><br>
        <button type="submit">Save</button>
    </form>
    {% if error %}
        <h2>{{ error }}</h2>
    {% endif %}
{% endblock %}